<div class="input-area bg-white border rounded p-2 m-4 fixed-bottom">
  <%= simple_form_for [chat, message] do |f| %>
  <div class="input-overlay-container">
    <%= f.input :content, placeholder: "Tell me...", input_html: { class: "bg-white py-0 border border-0 mb-0 textarea-with-button form-control" }, label: false %>
    <%= f.input :role, as: :hidden, input_html: { value: 'user' } %>
    <div class="d-flex justify-content-end">
      <%= f.button :submit, "➜", class: "arrow-btn inner-submit-btn", data: { action: "click->chat-scroll#insertLoader"} %>
    </div>
  </div>
  <% end %>
</div>
