<div class="container mt-4">
  <div class="chat-container bg-white p-3 d-flex flex-column h-100">
    <div class="chat-container bg-white d-flex justify-content-start" style="height: 56vh; overflow-y: scroll;">
      <div class="message-box bg-white text-dark">
        <div class="small fw-bold mb-1">
          "TMW"
        </div>
        Tell me What?
      </div>
    </div>
    <div class="input-area bg-white border rounded p-2 m-4 fixed-bottom">
      <%= simple_form_for @chat do |f| %>
        <div class="input-overlay-container">
          <%= f.input :question, input_html: { class: "bg-white border py-3 border-0 mb-2 textarea-with-button form-control" }, label: false, placeholder: "Ask me about musicians" %>
          <div class="d-flex justify-content-end">
            <%= f.button :submit, "➜", class: "arrow-btn inner-submit-btn" %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
