.arrow-btn {

  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 50%;

  width: 45px;
  height: 45px;

  color: #888888;
  font-size: 28px;
  line-height: 40px;
  cursor: pointer;
  text-align: center;
  padding: 0;
  padding-bottom: 2px;


  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-btn:hover {
  background-color: #e0e0e0;
}
